<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Planner</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />

    <style>

        body {
            font-weight: 400;
            color: hsl(210, 22%, 49%);
            font-family: sans-serif;
        }

        .planner-container {
            display: flex;
            min-height: 58.8rem;
        }

        .planner-content {
            background-color: hsl(210, 36%, 96%);
            flex: 1;
        }

        .planner-sidebar {
            display: flex;
            flex-direction: column;
            flex: 0 0 280px;
            justify-content: space-between;
            background-color: hsl(205, 100%, 21%);
        }

        .planner-side-nav {
            margin-top: 3.5rem;
            list-style: none;
        }

        .planner-side-nav__item {
            position: relative;
            /* background-color: pink; */
        }

        .planner-side-nav__item:not(:last-child) {
            margin-bottom: .5rem;
        }

            .planner-side-nav__item::before,
            .planner-side-nav__item--active::before {
                content: "";
                position: absolute;
                z-index: 1;
                left: 0;
                top: 0;
                height: 100%;
                width: 3px;
                background-color: hsl(205, 87%, 29%);
                transform: scaleY(0);
                transform-origin: center;
                transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s;
            }

            .planner-side-nav__item:hover::before {
                transform: scaleY(1);
                width: 100%;
            }

            .planner-side-nav__item:active {
                background-color: darkmagenta;
            }

        .planner-side-nav__item--active {
            background-color: hsl(205, 87%, 29%);
        }

        .planner-side-nav__link:link,
        .planner-side-nav__link:visited {
            position: relative;
            z-index: 10;
            list-style: none;
            padding: 10px 20px;
            display: block;
            text-decoration: none;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            color: hsl(205, 79%, 92%);
        }



        /*
            App specific color styles
        */

        .planner-text-primary {
            color: hsl(205, 87%, 29%);
        }

         .planner-text-secondary {
            color: hsl(205, 79%, 92%);
        }

        .planner-btn-primary {
            color: #fff;
            background-color: hsl(205, 87%, 29%);
            border-color: hsl(205, 87%, 29%);
        }

        .planner-btn-primary:hover {
            color: #fff;
            background-color: hsl(205, 100%, 21%);
            border-color: hsl(205, 100%, 21%);
        }

        .planner-bg-primary {
            background-color:hsl(205, 87%, 29%);
        }


       
    </style>
    @RenderSection("Head", required: false)
</head>
<body>
    @*<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Planner</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>*@
    <div class="planner-container">
        <nav class="planner-sidebar">
            @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
            <ul class="planner-side-nav mt-5 pl-0">
                <li class="planner-side-nav__item planner-side-nav__item--active"><a href="#" class="planner-side-nav__link">Overview</a></li>
                <li class="planner-side-nav__item"><a href="#" class="planner-side-nav__link">Timeline</a></li>
            </ul>
        </nav>
        <main role="main" class="planner-content">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
